.audio {
    height: 3rem;
    background: transparent;
}

audio::-webkit-media-controls-enclosure {
    background: transparent;
}

table .audio {
    margin-top: -1rem;
    margin-bottom: -1rem;
}

form .audio {
    margin-bottom: 1rem;
    align-self: center;
}