.main article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main article header {
    padding: 2rem;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: 1fr .5fr max-content;
    gap: 4rem;
}

.main article header h2,
.main article header h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.main article .list .nodata {
    padding: 0 2rem;
    text-align: center;
}

.info h2 {
    font-weight: 500;
}

.branches h3 {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.branches h3 i {
    font-size: 1.5rem;
    margin-top: auto;
}

.info table {
    display: grid;
    grid-template-columns: minmax(max-content, auto) max-content;
    gap: 1rem .25rem;
}

.branches table {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1rem 2rem;
}

.main article header thead,
.main article header tbody,
.main article header tr {
    display: contents;
}

.main article header th {
    text-align: start;
    font-weight: normal;
    font-size: 1.25rem;
}

.main article header td {
    text-align: start;
    font-size: 1.75rem;
}

.actions {
    width: min-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;

    margin-left: auto;
}

.actions button {
    all: unset;

    width: max-content;
    height: max-content;

    font-size: 2rem;
    padding: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 200ms ease;

    cursor: pointer;
}

.main article.open .actions button:last-of-type {
    transform: rotateZ(180deg);
}

.actions button svg {
    transition: 1000ms cubic-bezier(0.5, 3, 0, -0.5);
}

.actions button:hover svg,
.actions button:active svg {
    fill: rgb(var(--main-color-1));
}

.listActions {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nodata {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    .main article header {
        padding: 2rem;
        border-radius: 1rem;
    
        display: grid;
        grid-template-columns: 1fr .5fr max-content;
        grid-template-rows: repeat(2, auto);
        gap: 3rem 0;
    }

    .info {
        grid-column: span 3;
    }

    .main article header th,
    .main article header td {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 425px) {
    .info {
        display: none;
    }
}