.callDisposition {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "total total total total"
        "answered busy notanswered noresponse";

    padding: 2rem;
    border-radius: 1rem;

    --marker-color: var(--main-color-2);
}

.callDisposition h2 {
    grid-area: total;

    font-size: 2.5rem;
    font-weight: 300;
}

.callDisposition section:first-of-type {
    grid-area: answered;
}

.callDisposition section:nth-of-type(2) {
    grid-area: busy;

    --marker-color: var(--main-color-4);
}

.callDisposition section:nth-of-type(3) {
    grid-area: notanswered;

    --marker-color: var(--main-color-3);
}

.callDisposition section:last-of-type {
    grid-area: noresponse;

    --marker-color: var(--main-color-0);
}

.callDisposition section h3 {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 1rem;
}

.callDisposition section h3::before {
    content: '';
    width: 1em;
    height: 1em;

    display: inline-block;
    
    border-radius: 1rem;
    border: solid .2em rgb(var(--marker-color));
}

.callDisposition section p {
    font-size: 3rem;

    margin: 0;

    display: flex;
    align-items: center;

    font-weight: 500;
}

.callDisposition section p small {
    font-size: .5em;
    font-weight: normal;
    margin-left: 1rem;
}