.table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    table-layout: auto;
}

.table tbody tr:nth-child(2n) {
    background: linear-gradient(to left, rgb(var(--bg-color-0)), transparent);
}

.table tbody tr:nth-child(2n+1) {
    background: linear-gradient(to right, rgb(var(--bg-color-1)), transparent);
}

.table td,
.table th {
    padding: 1rem;
}

.table thead tr th:first-of-type {
    padding-left: 2rem;
}

.table thead tr th:last-of-type {
    padding-right: 2rem;
}

.table tbody tr td:first-of-type {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 2rem;
}

.table tbody tr td:last-of-type {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 2rem;
}

.table button {
    all: initial;

    font-size: 2rem;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}